#header{
    background-color: #e74c3c;
    color: #fff;
}
#menu{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}

.nav-link:hover{
    color: chartreuse;
    background-color: #c0392b;
}
.section{
  padding-top: 70px;
  padding-bottom: 70px;
}

.nav-link{
    color: #fff;
}
.h1,h1{
    font-size: 2rem;
    
  
}
#banner{
    background-image: url("images/pic.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}
.banner-title{
    padding-top: 5rem;
}
.banner-title h1{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    margin: 0px;
}
.banner-title p{
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
}
.section-head{
    text-align: center;
    margin-bottom: 40px;
}
.section h2.section-head:after{
    background-color:#e74c3c ;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
.service-box{
    text-align: center;
}
.service-box i{
    color: #e74c3c;
    font-size: 60px;
    margin-bottom: 10px;
}
#testimonials{
    color: #fff;
    background-image: url("images/iphone.avif");
    background-size:cover;
    background-repeat: no-repeat 0 0;
    padding: 50px 0;
    position: relative;
}
...#testimonials:after {

    color: #fff;
    background: rgba(52,73,94,0.7);
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.testimonial img{
  border-radius: 50%;
}
.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}
.card-body h5{
    color: #e74c3c;
}
.post-date::before{
    content: "\f073";
    font-family: FontAwesome;
}
a.readmore{
    color: #e74c3c;
}
a.readmore:after{
    content: "\f101";
    font-family: FontAwesome;
    font-size: 14px;
    padding-left: 5px;
}
#footer-sidebar{
    color: #fff;
    background-color: #34495e;
    padding: 20px 0;
}
.footer-widget h5:after{
    background-color:#fff ;
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
    
}
.latest-news{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .latest-news li{
   margin-bottom: 3px;
  }
  .latest-news li a{
      color: #fff;
  }
.footer-widget li :before{
    content: "\f101";
    font-family: FontAwesome;
    font-size: 13px;
    padding-right: 5px;
    
}
#footer{
    color: #fff;
    background: #2c3e50;
  padding: 10px 0;
}
#social-icon {
list-style: none;
color: #fff;
margin: 0;
padding: 0;
}
#social-icon li{
    display: inline-block;
    padding: 5px;
}
#social-icon li a{
    color: #fff;
    font-size: 20px;
}